<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/">All Games</a> |
        <a href="/moba">Moba Games</a> |
        <a href="/add">Add New Game</a>
    </div>
    <h1>
        <%= game.name %>
    </h1>
    <img src="<%=  game.gameImg %>" style="width:50%">
    <br>
    <div>
        Developer : <%= game.developer %>
    </div>
    <div>
        Release Date : <%= game.formatDate %>
    </div>
    <div>
        Genre : <%= game.genre %>
    </div>
    <div>
        Gameplay : <%= game.gameplay() %>
    </div>

</body>

</html>