<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/">All Games</a> |
        <a href="/moba">Moba Games</a>
    </div>
    <h1>Moba Games</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Developer</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <% games.forEach(el=> { %>
                <tr>
                    <td><img style="width: 50%;" src="<%=el.gameImg %>"></td>
                    <td>
                        <%= el.name %>
                    </td>
                    <td>
                        <%= el.releaseDate %>
                    </td>
                    <td>
                        <%= el.developer %>
                    </td>
                    <td>
                        <%= el.genre %>
                    </td>
                </tr>
                <%}) %>
        </tbody>
    </table>

</body>

</html>